<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Bard Music Maker</title>
		<script src="https://unpkg.com/tone"></script>
		<script src="../web-app/web-bridge.js"></script>
		<script src="main.js"></script>

		<!-- Styles -->
		<link rel="stylesheet" href="fonts/fontawesome/all.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="css/styles.css" />
		<script>
			document.write(
				'<script src="http://' +
					(location.host || "localhost").split(":")[0] +
					':35729/livereload.js?snipver=1"></' +
					"script>"
			);
		</script>
	</head>
	<body>
		<div class="container"></div>
	</body>
</html>
